:root{
  --colorRed: #ff0055
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  border-radius: 12px; /* More rounded corners */
  padding: 2rem;
  transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

main:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}

h3 {
  font-size: 2rem;
  color: var(--colorRed);
  margin-bottom: 1rem;
  text-align: center;
}


/* each row */
.row{
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
.row:not(:first-child) {
  border-top: 1px solid #ccc;
}
.row h4{
  text-align: center;
}
.row .hints{
  color: #aaa;
}

/* Download info */
.download-info .stat{
  display: flex;
  align-items: center;
}

.download-info .down-count {
  margin-left: 10px;
  color: var(--colorRed);
  font-size: 2rem;
  transition: transform 0.3s ease; /* Smooth scale effect */
}

.download-info .down-count:hover {
  transform: scale(1.1); /* Scale effect on hover */
}

/* Links */
.row.links{
  font-size: 0.9rem;
}
.row.links a {
  color: #4545cc;
}

.row.links a:hover {
  color: var(--colorRed);
  text-decoration: underline;
}
.developer{
  text-align: center;
  font-size: 0.9rem;
  color: #000;
}

/* Download file naming convention */
.radio-group {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  accent-color: var(--colorRed);
}

/* Clipboard */
.clipboard-option input[type="checkbox"] {
  accent-color: var(--colorRed);
}


/*
---------------------------------------------
                  DARK MODE
---------------------------------------------
*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ccc;
  }

  main {
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }

  .download-info .down-count {
    color: #bb86fc;
  }

  .source-code a {
    color: #bb86fc;
  }
}
